.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#game {
  width: 100vw;
  height: 80vh;
  background-color: antiquewhite;
}

#chessboard {
  text-align: center;
  margin: auto;
  width: 80vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}

#chessboard .tileRow {
  display: flex;
}

#chessboard .square{
  display: flex;
  align-items: center;
  height: 10vh;
  width: 10vh;
  font-size: 90px;
  margin: auto;
  text-align: center;
}

#chessboard .square img{
  display: block;
  height: 7.4vh;
  margin: auto;
  /* padding-bottom: 4%; */
}

.white {
  background-color: rgb(255, 255, 230);
}

.black {
  background-color: rgb(100, 60, 23);
}

/* #chessboard .selected.white{ */
  /* background-color: rgb(255, 87, 75); */
  /* background-color: rgb(255, 132, 104); */
/* } */
#chessboard .selected {
  position: relative;
}

#chessboard .selected:after {
  content: "";
  display: block;
  position: absolute;
  top:1%;
  left:0;
  bottom: 0;
  right: 0;
  margin: 30%;
  height: 40%;
  width: 40%;
  background: rgba(43, 43, 43, 0.695);
  border-radius: 40%;
}

div #infoPanel{
  background-color: gray;
  position: absolute;
  top: 15vh;
  right: 2vw;
  /* transform: translate(-50%, -50%); */
  width: 20vw;
  height: 60vh;
}

/* #chessboard .selected.black{ */
  /* background-color: rgb(189, 35, 0); */
  /* background-color: rgb(169, 48, 0); */
/* } */


#colLabel{
  width: 3.6%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  margin-left: 8.4%;
}

#rowLabel{
  width: 5%;
}

.startButton{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 17%;
}

